@{
    var obj = new WebApplication10.DTO.UserDTO(); 
    ViewData["Title"] = "Create User";
}
<h4>Enter User Details</h4>
<hr />
@{
    if (ViewData["message"] != null)
    {
        <p id="message" style="color:red"> @ViewData["message"]</p>
        <script>
            setTimeout(() => {
                document.getElementById("message").style.display = "none"
            }, 2000)
        </script>
    }
}
<div class="row">
    <div class="col-md-4">
        <form action="api/user/create" method="post">
            <br />
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input asp-for="@obj.Name" asp-short-name="true"  class="form-control" />
                <span asp-validation-for="@obj.Name" asp-short-name="true"  class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <input asp-for="@obj.Email" asp-short-name="true" class="form-control" />
                <span asp-validation-for="@obj.Email" asp-short-name="true" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="Password" class="control-label">Password</label>
                <input asp-for="@obj.Password" asp-short-name="true" class="form-control" />
                <span asp-validation-for="@obj.Password" asp-short-name="true"  class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="RoleId" class="control-label">Role</label>
                <select name="RoleId" class="form-control" >
                    <option value="2">Teacher</option>
                    <option value="3">Student</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <button id="createUserBtn" class="btn btn-primary">Create User</button>
                <input id="submitCreateUserBtn" type="submit" value="Login" class="btn btn-primary" hidden="hidden" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        let createUserBtn = document.getElementById("createUserBtn")
        createUserBtn.addEventListener("click",(e)=>{
            e.preventDefault();
            console.log("Hello")
            let NameTrim = document.getElementById("Name")
            NameTrim.value = NameTrim.value.trim()
           document.getElementById("submitCreateUserBtn").click();
                
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

