@{
    ViewData["Title"] = "Course Detail Page";
}

<div class="text-center">
    <br />

    @{
        if (ViewData["Status"] == "p1")
        {
            <h1>No Assignment Available</h1>
        }
        else if (ViewData["Status"] == "okay")
        {
            foreach (var item in ViewData["StudentAssignmetList"] as IEnumerable<Assigned>)
            {
                <div class="text-lg-start" style="border:2px solid black; padding:30px; border-radius:10px;">
                    <h4>@item.Assignment.Title</h4>
                    <p>@item.Assignment.Instruction</p>
                    <span>
                        File Url:
                    </span>
                    @{
                        if (@item.Assignment.FileUrl == "")
                        {
                            <span style="color:red;border">None</span>
                        }
                        else
                        {
                            <a href="/api/assignment/download?id=@item.AssignmentId" target="_blank">Click Here </a>
                        }
                    }
                    <br />
                    <span>
                        Total Marks: <strong>@item.Assignment.TotalMarks</strong>
                    </span>
                    <br />
                    <span>
                        Obtained Marks: <strong>@item.ObtainMarks</strong>
                    </span>
                    <br />
                    @{
                        if (@item.SubmitDate == null)
                        {
                            <br />
                            <div class="text-end">
                                <a class="btn-primary" style="text-decoration:none;padding:10px;border-radius:10px;" href="\Home\SubmitAssignment?id=@item.AssignmentId">Submit Assignment</a>
                            </div>
                        }
                        else {
                            
                            <span>
                                Submit Date: <strong>@item.SubmitDate</strong>
                            </span>
                            
                        }
                    }
                </div>
                <br />
                <br />
            }
        }
    }
</div>

@section Scripts {


    }
